name: Manual Workflow

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Print Version
        run: echo "Version:${{ github.event.inputs.version }}"
